* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Inicio Header */

.nav {
  background-color: #181818;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 28px;
}

.nav-list a {
  text-decoration: none;
  color: #ddd;
  padding: 20px;
}

.nav-list a:hover {
  color: #ffffff;
}

/* Fim Header */

/* Inicio Main */
.main {
  width: 100%;
  background-color: #000000;
  height: calc(100vh - 80px);
  background-image: url("Images/programador.png");
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  color: #ffffff;
  font-size: 54px;
}

.main p {
  color: #1e96fc;
  font-size: 24px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 35px;
}

.btn {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.9s;
}

.btn:hover {
  transform: scale(1.1);
}

.main a {
  text-decoration: none;
  color: #181818;
}
/* Fim Main */

/* Inicio Sobre */

.about {
  background-color: #ffffff;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about div {
  max-width: 50%;
  padding-right: 40px;
}

.about img {
  max-width: 350px;
  border-radius: 8px;
}

.about div h2 {
  font-size: 36px;
  margin-bottom: 14px;
}

/* Fim Sobre */

/* Inicio Projetos */
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.projects p {
  margin-bottom: 40px;
  font-style: italic;
}

.project-list {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list a {
  display: flex;

  justify-content: center;
}

.project-list img {
  max-width: 30%;
  border-radius: 8px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  opacity: 0.8;
  transition: 0.5s;
}

.project-list img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.action {
  background-color: #181818;
  border: 0;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 18px;
  color: #ffffff;
  margin-top: 14px;
  transition: 0.5s;
  cursor: pointer;
}

.action a {
  text-decoration: none;
  color: inherit; /* opcional: mantém a cor do botão */
}

.action:hover {
  transform: scale(1.1);
  background-color: #1e96fc;
}

/* Fim Projetos */

/* Inicio FOOTER */

footer {
  width: 100%;
  background-color: #181818;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  color: #1e96fc;
}

footer p {
  margin-left: 12px;
}

/* Fim FOOTER */

/* Media Queries */

@media (max-width: 1050px) {
  .main h1 {
    font-size: 45px;
  }

  .main p {
    font-size: 18px;
  }

  .main {
    background-size: cover;
  }

  .about {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .about div {
    max-width: 80%;
  }

  .about div h2 {
    font-size: 45px;
  }

  .about img {
    width: 80%;
    margin-top: 30px;
  }

  .projects img {
    width: 27.5%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer p {
    margin: 0;
  }
}
